@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Indie+Flower&family=Patrick+Hand&family=Rock+Salt&family=Zeyada&display=swap');
:root {
    --rosado: #d40245;
    --rosadoOscuro: #61001f;
    --azul: #0063b4;
    --azulOscuro: #002341;
    --amarillo: #ff6a06;
    --amarilloOscuro: #853500;
}

html {
    margin-left: 100;
    margin-top: 0;
    margin-bottom: 0;
    margin-top: 0;
    border-left: 20px double;
    border-color: rgb(247, 95, 116);
}

body {
    font-family: 'Annie Use Your Telescope';
    height: fit-content;
}

.text {
    margin-left: 5px;
    margin-right: 25px;
}

#mainDiv {
    position: relative;
    top: 50px;
    font-size: 40px;
}

#name {
    margin-bottom: -45px;
}